 /* .navbar-back {
    background-color: rgb(0, 0, 255) !important;
    color: black !important;
} */

 body {
    background-color: #088395 !important;
} 
.bg{
    background-color: #ABDADC !important;
} 